<div class="container mx-auto h-screen flex flex-col-reverse lg:flex-row lg:justify-between px-10 lg:items-center my-24 lg:my-0">
    <div class="flex flex-col items-start w-full lg:w-1/2 text-center lg:text-start">
        <h1 class="text-[26px] lg:text-[38px] font-bold">Temukan barang branded dan terpopuler dengan ponsel anda</h1>
        <p class="mt-4 text-[14px] ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet gravida sapien, at tincidunt sapien. Quisque malesuada erat velit, mollis vehicula quam blandit id. Vestibulum tincidunt, nulla efficitur tincidunt scelerisque, felis nibh tristique massa</p>
        <div class="w-full flex justify-center lg:justify-start">
            <button class="mt-6 border-black rounded-md hover:text-white hover:bg-black duration-200 py-3 px-10 border">Temukan Sekarang</button>
        </div>
    </div>
    <div class="w-full lg:w-1/2 flex justify-end">
        <img src="./../../assets/image/home.jpg" class="w-[600px]" />
    </div>
</div>