<div class="w-full bg-black px-10">
    <div class="text-white text-center py-20">
        <h1 class="text-[30px] font-bold">Belanja.COM</h1>
        <p class="px-60 text-center mt-4 text-sm">Lorem ipsum dolor sit amet consectetur adipiscing elit. Duis vehicula libero odio, a fermentum leo sollicitudin in. Praesent enim velit, rhoncus nec dui vitae, commodo semper elit. Pellentesque sodales magna quam, vitae ullamcorper arcu varius vel. Donec sed justo ac diam scelerisque vestibulum.</p>
    </div>
</div>