<div class="w-screen h-screen bg-cover flex items-center justify-center" style="background-image: url('./../../../assets/image/background.jpg');">
    <div class="rounded-lg py-28 bg-white backdrop-blur-sm bg-opacity-60 px-6 w-2/4">
        <h1 class="text-2xl font-bold uppercase text-center">Daftar</h1>
        <p class="mt-4 text-sm text-center px-20">Selamat datang di Belanja.COM silahkan masukkan data diri anda untuk mendaftar. Jika Sudah memiliki akun silahkan tekan tombol <a href="login-page" class="text-blue-500 underline">Masuk</a></p>
        <div class="px-10 mt-10 flex justify-center">
            <input class="bg-transparent w-3/4 px-4 py-2 border outline-none text-sm border-black rounded" placeholder="Username" />
        </div>
        <div class="px-10 mt-4 flex justify-center">
            <input class="bg-transparent w-3/4 px-4 py-2 border outline-none text-sm border-black rounded" placeholder="Email" type="email" />
        </div>
        <div class="px-10 mt-4 flex justify-center">
            <input class="bg-transparent w-3/4 px-4 py-2 border outline-none text-sm border-black rounded" placeholder="Password" type="password" />
        </div>
        <div class="flex justify-center mt-10">
            <button class="border px-20 py-2 text-sm border-black rounded hover:bg-black hover:text-white duration-200">Masuk</button>
        </div>

        <p class="text-sm text-center mt-10">Sudah memiliki akun? <a href="login-page" class="text-blue-500 underline">Masuk Sekarang!</a></p>

    </div>
</div>