<div class="w-full container mx-auto px-10 my-4">
    <h1 class="text-[30px] font-bold">Toko Terlaris dan Terpercaya</h1>
    <div class="grid grid-cols-5 gap-4 mt-10">
        <div class="border rounded text-center border-black">
            <img src="./../../assets/image/toko_1.jpg" alt="">
            <h1 class="px-4 text-lg">Chanel Official Store</h1>
            <button class="border px-7 border-black rounded hover:bg-black hover:text-white text-sm duration-200 py-2 my-4">Kunjungi Toko</button>
        </div>
        <div class="border rounded text-center border-black">
            <img src="./../../assets/image/toko_1.jpg" alt="">
            <h1 class="px-4 text-lg">Chanel Official Store</h1>
            <button class="border px-7 border-black rounded hover:bg-black hover:text-white text-sm duration-200 py-2 my-4">Kunjungi Toko</button>
        </div>
        <div class="border rounded text-center border-black">
            <img src="./../../assets/image/toko_1.jpg" alt="">
            <h1 class="px-4 text-lg">Chanel Official Store</h1>
            <button class="border px-7 border-black rounded hover:bg-black hover:text-white text-sm duration-200 py-2 my-4">Kunjungi Toko</button>
        </div>
        <div class="border rounded text-center border-black">
            <img src="./../../assets/image/toko_1.jpg" alt="">
            <h1 class="px-4 text-lg">Chanel Official Store</h1>
            <button class="border px-7 border-black rounded hover:bg-black hover:text-white text-sm duration-200 py-2 my-4">Kunjungi Toko</button>
        </div>
        <div class="border rounded text-center border-black">
            <img src="./../../assets/image/toko_1.jpg" alt="">
            <h1 class="px-4 text-lg">Chanel Official Store</h1>
            <button class="border px-7 border-black rounded hover:bg-black hover:text-white text-sm duration-200 py-2 my-4">Kunjungi Toko</button>
        </div>
        <div class="border rounded text-center border-black">
            <img src="./../../assets/image/toko_1.jpg" alt="">
            <h1 class="px-4 text-lg">Chanel Official Store</h1>
            <button class="border px-7 border-black rounded hover:bg-black hover:text-white text-sm duration-200 py-2 my-4">Kunjungi Toko</button>
        </div>
        <div class="border rounded text-center border-black">
            <img src="./../../assets/image/toko_1.jpg" alt="">
            <h1 class="px-4 text-lg">Chanel Official Store</h1>
            <button class="border px-7 border-black rounded hover:bg-black hover:text-white text-sm duration-200 py-2 my-4">Kunjungi Toko</button>
        </div>
        <div class="border rounded text-center border-black">
            <img src="./../../assets/image/toko_1.jpg" alt="">
            <h1 class="px-4 text-lg">Chanel Official Store</h1>
            <button class="border px-7 border-black rounded hover:bg-black hover:text-white text-sm duration-200 py-2 my-4">Kunjungi Toko</button>
        </div>
        <div class="border rounded text-center border-black">
            <img src="./../../assets/image/toko_1.jpg" alt="">
            <h1 class="px-4 text-lg">Chanel Official Store</h1>
            <button class="border px-7 border-black rounded hover:bg-black hover:text-white text-sm duration-200 py-2 my-4">Kunjungi Toko</button>
        </div>
        <div class="border rounded text-center border-black">
            <img src="./../../assets/image/toko_1.jpg" alt="">
            <h1 class="px-4 text-lg">Chanel Official Store</h1>
            <button class="border px-7 border-black rounded hover:bg-black hover:text-white text-sm duration-200 py-2 my-4">Kunjungi Toko</button>
        </div>
    </div>
    <div class="w-full my-10 flex justify-center">
        <button class="py-3 border-black hover:bg-black hover:text-white duration-200 rounded-md border px-20 text-sm">Lihat Lebih Banyak</button>
    </div>
</div>