<div class="container mx-auto px-10 mt-20">
    <h1 class="text-center text-[30px] font-bold">Hubungi Kami</h1>
    <div class="flex justify-between">
        <div class="w-1/2">
            <img src="../../assets/image/contact.jpg" />
        </div>
        <div class="w-1/2 pt-12">
            <h1 class="text-center text-xl font-semibold">Hubungi Kami Dengan Mengisikan Form Berikut</h1>
            <div class="flex justify-center mx-16 mt-8">
                <div class="w-2/4 mr-2">
                    <p>Username</p>
                    <input class="w-full border-black border py-2 px-4 outline-none rounded" />
                </div>
                <div class="w-2/4 ml-2">
                    <p>Email</p>
                    <input class="w-full border-black border py-2 px-4 outline-none rounded" />
                </div>
            </div>
            <div class="mx-16 mt-4">
                <p>Message</p> 
                <textarea class="border outline-none px-4 py-2 w-full h-56 border-black rounded"></textarea>
                <button class="mt-6 border px-10 border-black rounded hover:text-white hover:bg-black duration-200 py-3 text-sm">Kirim Pesan</button>
            </div>
        </div>
    </div>
</div>